---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I’m Eason, a rising senior at Branham High School. I moved to the U.S. during my sophomore year and have been learning coding for about two years.
    I enjoy programming, solving problems,participating in competitions like USACO, and eager to take on challenges 
    and contribute effectively in a team collaborative environment.  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ap Computer Science Principle"
      subtitle="2024 to 2025 at Branham High school, San Jose, California "
    />
    <TimeLineElement
      title="Ap computer Science Java"
      subtitle="2025 to 2026 at Branham High school, San Jose, California"
    />
    <TimeLineElement
      title="Ap Physics 1"
      subtitle="2025 to 2026 at Branham High school, San Jose, California"
    />
    <TimeLineElement
      title="Ap Calc AB"
      subtitle="2025 to 2026 at Branham High school, San Jose, California"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="CubeSat Projects"
      subtitle="November to april, California, USA"
    >
    This project involves simulating the creation of a CubeSat while using coding to simulate scenarios in which it detects objects.
    <!-- </TimeLineElement>
    <TimeLineElement
      title="Ap computer Science Java"
      subtitle="From Branham High school, 11th grade"
    >
    learn how to code using java and also using JavaFX to for projects. -->
    <!-- </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div> -->

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C++</li>
    <li>Python</li>
    <li>Java</li>
    <li>web development</li>
    <!-- <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>  -->
  </ul>
</BaseLayout>
